body{
	margin: 0px 0px;
}
.Get-block{
	width: 100%;
	height: 60px;
	background-color: #451400;
}
.Get-h3{
	color: white;
	font-size: 18px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin-top: 0px;
	padding-top: 22px;
	padding-left: 85px;
	float: left;
}
.Get-button{
	width: 29px;
	height: 31px;
	border-style: none;
	border-radius: 50%;
	background-color: #632d17;
	border-color: #632d17;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
}
.Drop-Down{
	width: 14px;
	height: 14px;
	margin-top: 5px;
}
.Nav-Bar{
	width: 100%;
	height: 58px;
	border-bottom: 0.85px solid #d4cbc7;
}
.Nav-Bar-Logo-Block{
	padding-left: 10px;
	padding-top: 5px;
}
.Nav-Bar-HamIcon{
	width: 24px;
	height: 16px;
	margin-top: 16px;
	float: left;
}
.Nav-Bar-Logo-Link{
	text-decoration: none;
	float: left;
}
.Nav-Bar-Logo{
	width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-top: 0px;
}
.Nav-List-Block{
	visibility: hidden;
	float: left;
	margin-left: 0px;
	width: 0px;
	margin-top: 10px;
}
.Nav-List{
	list-style-type: none;
}
.Nav-List-Item{
	float: left;
}
.Nav-List-Link-First{
	text-decoration: none;
	font-size: 24px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: #451400;	
}
.Nav-List-Link{
	text-decoration: none;
	font-size: 24px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: #451400;
	margin-left: 40px;
}
.Nav-Find-Button{
	width: 176px;
	height: 36px;
	float: left;
	margin-top: 6px;
	margin-left: 95px;
	background-color: #451400;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.Nav-Find-Link{
	text-decoration: none;
	background-color: #451400;
}
.Nav-Find-Pepper{
	width: 26px;
	height: 26px;
	float: left;
	margin-top: 4px;
	margin-left: 6px;
}
.Nav-Find-Line{
	width: 9px;
	height: 20px;
	margin-top: 9px;
	margin-left: 0px;
	float: left;
}
.Nav-Find-Para{
	font-size: 13px;
	font-family: 'Nunito', sans-serif;
	color: white;
	float: left;
	margin-left: 5px;
	margin-top: 11px;
}
.Content-BG{
	width: 100%;
	height: 400px;
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/Home-Page-Hero-Mobile-White@2x-latest.jpg);
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
}
.Content-First-Box{
	padding: 21px 19px;
	width: 130.6px;
	height: 19px;
	background-color: #ad2118;
	margin-top: 288px;
	margin-left: 15px;
	float: left;
	position: absolute;
}
.Content-First-Para{
	font-size: 16px;
	color: white;
	margin-top: 0px;
	font-family: 'Nunito', sans-serif;
	margin-left: 15px;
}
.Content-Second-Para{
	visibility: hidden;
	font-size: 24px;
	font-family: 'Nunito', sans-serif;
	color: white;
}
.Content-Second-Block-Link{
	text-decoration: none;
	float: left;
}
.Content-Second-Block{
	width: 144.6px;
	height: 44px;
	margin-left: 90px;
	background-color: #88120A;
	margin-top: 288px;
	padding-left: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 16px;
}
.Content-Third-Para{
	font-size: 20px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	float: left;
	color: white;
	margin-top: 11px;
	margin-left: 17px;
}
.Content-Second-Arrow{
	width: 14px;
	height: 15px;
	float: left;
	margin-left: 10px;
	margin-top: 17px;
}
.What-I-Eat-Block{
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/banners/background-images/home-page/what-should-i-eat-it/background-image-what-should-i-eat@3x_cropped.png);
	width: 345.2px;
	height: 74.8px;
	padding: 36px 15px;
	border-bottom: 1px solid #d4cbc7;
	background-repeat: repeat;
}
.What-I-Eat-Para{
	font-size: 24px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: #451400;
	margin: 8px 0px;
}
.What-I-Eat-Select-Block{
	float: left;
	padding: 5px 1px;
	width: 303.775px;
	height: 22.4px;
	margin-left: 0px;
	border-bottom: 1px solid #451400;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	border-top: transparent;
}
.What-I-Eat-Select{
	border-style: none;
	background: url(https://chipotle.com/etc.clientlibs/chipotle/clientlibs/chipotle-core/resources/images/closed.png);
	background-repeat: no-repeat;
	color: #b68207;
	font-size: 24px;
	width: 303.775px;
	font-weight: bold;
	font-family: 'Fira Sans Extra Condensed', sans-serif; 
	background-size: 20px 20px;
	background-position-x: 96%;
	background-position-y: 50%;
	float: left;
}
select{
	-webkit-appearance: none;
	appearance: none;
}
.What-I-Eat-Option{
	color: #b68207;
	font-size: 24px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.What-I-Eat-Ques-Block{
	float: left;
}
.What-I-Eat-Ques{
	font-size: 24px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: #451400;
	float: left;
	margin-top: 0px;
	margin-left: 5px;
}
.Card-Block{
	border: 0.5px solid #212529;
	margin: 21px 30px;
}
.First-Card-Image{
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/CHP-Secondary-Hero-Tout-Desktop@2x_sized.jpg);
	width: 313.2px;
	height: 155px;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
}
.Card-Para-Block{
	padding: 20px 20px;
	width: 273.2px;
	height: 187.8px;
}
.Card-Title{
	font-size: 28px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: #451400;
	margin: 0px 0px 16px 0px;
}
.Card-Des{
	width: 273.2px;
	height: 76.8px;
	color: #451400;
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
}
.Card-Link{
	text-decoration: none;
}
.Card-Button{
	text-decoration: none;
	width: 241.2px;
	height: 20px;
	background-color: #451400;
	border-style: none;
	padding: 8px 16px;
}
.Card-Order{
	font-size: 16px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: white;
	text-align: center;
	margin: 0px;
}
.Second-Card-Image{
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/Home-Page-Secondary-Tout-Mobile@2x.jpg);
	width: 313.2px;
	height: 155px;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
}
.First-Card-Block-Desktop{
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.Second-Card-Block-Desktop{
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.GUA-Img{
	width: 288.563px;
	height: 204px;
	margin-left: 40px;
	margin-top: 10px;
}
.GUA-Para{
	color: #451400;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.GUA-Img-Let{
	width: 202px;
	height: 64px;
	padding-left: 100px;
	margin-top: 0px;
}
.GUA-Des{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #451400;
}
.GUA-Button{
	border: 3px solid #451400;
	background-color: white;
	padding: 11.2px 30px;
	width: 275.2px;
	height: 20px;
	margin: 30px 17px;
}
.GUA-Button-Text{
	font-size: 18px;
	color: #451400;
	margin: 0px 0px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	text-align: center;
}
.CARDTEXT-Block{
	border: 0.5px solid #212529;
	margin: 21px 30px;
}

.CARDTEXT-First-Image{
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/life-styles/group-10@2x.png);
	width: 313.2px;
	height: 188px;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	opacity: 0.7;
}
.CARDTEXT-Title{
	font-size: 36px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: white;
	margin: 0px 0px 16px 0px;
	text-align: center;
	padding-top: 65px;
}
.CARDTEXT-Para-Block{
	padding: 20px 20px;
	width: 273.2px;
	height: 145px;
}
.CARDTEXT-Button{
	text-decoration: none;
	width: 241.2px;
	height: 20px;
	background-color: #451400;
	border-style: none;
	padding: 8px 16px;
	margin-top: 0px;
}
.Card-Des{
	width: 273.2px;
	height: 80px;
	color: #451400;
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
}
.CARDTEXT-Second-Image{
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/life-styles/group-12@2x.png);
	width: 313.2px;
	height: 188px;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	opacity: 0.7;
}
.FIND-Block{
	width: 375.2px;
	height: 69.6px;
	padding: 0px 0px 30px 0px;
	background-color: #786259;
}
.FIND-Image{
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.FIND-Text{
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
	color: white;
	width: 345.2px;
	height: 17.6px;
	margin: 0px 0px;
	padding-left: 15px;	
}
.FIND-Input-Block{
	margin-top: 10px;
	padding-top: 5px;
}
.FIND-Input{
	width: 292.2px;
	height: 21px;
	padding: 1px 30px 5px 0px;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	background-color: #786259;
	margin-left: 15px;
	float: left;
	color: white;
}
::placeholder{
	color: white;
	width: 222.462px;
	height: 26.388px;
	font-family: 'Nunito', sans-serif;
	font-size: 17.9404px;
}
.FIND-SearchButton{
	background-color: #786259;
	border-style: none;
	float: left;
	border-bottom: 1px solid white;
	margin-top: 0px;
	padding: 0px 0px 7px 0px;
}
.FIND-Search-Icon{
	width: 16px;
	height: 16px;
}
.FOOT-Block{
	background-color: #1b0800;
	width: 100%;
	height: 745.8px;
	padding: 1px 0px;
}
.FOOT-Title{
	text-decoration: none;
	font-size: 30px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: white;
	padding: 20px 15px;
}
.FOOT-Title-Block{
	margin-top: 15px;
}
.FOOT-About-Desktop-Block{
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.FOOT-About-Desktop-FirstRow{
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.FOOT-About-Desktop-SecondRow{
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.FOOT-Media-Block{
	padding-left: 15px;
	height: 111.6px;
}
.FOOT-Media-Title{
	color: #d4cbc7;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 18px;
	margin: 10px 0px 0px 0px;
	padding: 20px 0px;
}
.Foot-Media-Link{
	text-decoration: none;
	float: left;
	margin-left: 20px;
}
.Foot-Media-Icon{
	width: 40px;
	height: 40px;
}
.FOOT-Down-Block{
	padding-left: 15px;
	height: 114px;
}
.FOOT-Down-Title{
	color: #d4cbc7;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 18px;
	margin: 15px 0px 15px 0px;
	padding: 10px 0px;
}
.FOOT-Down-Link{
	text-decoration: none;
	padding: 20px 10px 20px 16px;
}
.FOOT-Download{
	width: 140px;
	height: 42px;
}
.FOOT-About-Block{
	padding-left: 15px;
	height: 194px;
}
.FOOT-About-Title{
	color: #d4cbc7;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 18px;
	margin: 10px 0px 10px 0px;
	padding: 5px 0px;
}
.FOOT-About-Link{
	text-decoration: none;
	color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
}
.FOOT-About-Link-Block{
	margin-top: 0px;
	width: 140.6px;
	height: 29.6px;
}
.FOOT-About-FirstRow{
	float: left;
	margin-top: 10px;
}
.FOOT-About-SecondRow{
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}
.FOOT-Supply-Block{
	height: 17.6px;
	padding: 8px 0px;
	margin: 0px 0px 10px 15px;
}
.FOOT-Supply-Link{
	text-decoration: none;
	color: white;
	font-size: 11.2px;
	font-family: 'Nunito', sans-serif;
}
.FOOTER-Link-Block1{
	width: 157.6px;
	height: 17.6px;
	padding: 8px 0px;
	float: left;
	margin-left: 15px;
}
.FOOTER-Link-Block2{
	width: 157.6px;
	height: 17.6px;
	padding: 8px 0px;
	float: left;
	margin-left: 15px;
}
.FOOTER-Link-Block3{
	width: 157.6px;
	height: 17.6px;
	padding: 8px 0px;
	float: left;
	margin-left: 15px;
}
.FOOTER-Link-Block4{
	width: 157.6px;
	height: 17.6px;
	padding: 8px 0px;
	float: left;
	margin-left: 15px;
}
/* iPad or Tablet*/
@media only screen and (min-width: 768px)
{
	.Get-block{
	width: 100%;
	height: 80px;
	background-color: #451400;
	}
	.Get-h3{
	color: white;
	font-size: 30px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin-top: 0px;
	padding-top: 25px;
	padding-left: 220px;
	float: left;
	}
	.Get-button{
	width: 31px;
	height: 33px;
	border-style: none;
	border-radius: 50%;
	background-color: #632d17;
	border-color: #632d17;
	margin-left: 15px;
	margin-top: 25px;
	float: left;
	}
	.Drop-Down{
	width: 12px;
	height: 12px;
	margin-top: 4px;
	}
	.Nav-Bar{
	height: 69px;
	border-bottom: 0.85px solid #d4cbc7;
	margin: 0px 0px;
	padding: 0px 0px;
	}
	.Nav-Bar-Logo-Block{
		width: 300px;
		padding: 0px 8px;
	}
	.Nav-Bar-HamIcon{
	width: 24px;
	height: 16px;
	margin-top: 15px;
	float: left;
	}
	.Nav-Bar-Logo-Link{
	text-decoration: none;
	float: left;
	}
	.Nav-Bar-Logo{
		width: 50px;
		height: 50px;
		margin-left: 10px;
		margin-bottom: 2px;
	}
	.Nav-List-Block{
		visibility: hidden;
		float: left;
		margin-left: 0px;
		width: 0px;
		margin-top: 10px;
	}
	.Nav-List{
		list-style-type: none;
	}
	.Nav-List-Item{
		float: left;
	}
	.Nav-List-Link-First{
		text-decoration: none;
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;	
	}
	.Nav-List-Link{
		text-decoration: none;
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		margin-left: 40px;
	}
	.Nav-Find-Button{
		width: 176px;
		height: 36px;
		float: left;
		margin-top: 6px;
		margin-left: 492px;
		background-color: #451400;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
	.Nav-Find-Link{
		text-decoration: none;
		background-color: #451400;
	}
	.Nav-Find-Pepper{
		width: 26px;
		height: 26px;
		float: left;
		margin-top: 4px;
		margin-left: 8px;
	}
	.Nav-Find-Line{
		width: 9px;
		height: 20px;
		margin-top: 9px;
		margin-left: 0px;
		float: left;
	}
	.Nav-Find-Para{
		font-size: 13px;
		font-family: 'Nunito', sans-serif;
		color: white;
		float: left;
		margin-left: 4px;
		margin-top: 11px;
	}
	.Content-BG{
	width: 100%;
	height: 400px;
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/Home-Page-Hero-Mobile-White@2x-latest.jpg);
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
	position: absolute;

	}
	.Content-First-Box{
		padding: 21px 19px;
		width: 98.387px;
		height: 20px;
		background-color: #ad2118;
		margin-top: 288px;
		margin-left: 240px;
		float: left;
	}
	.Content-First-Para{
		font-size: 16px;
		color: white;
		margin-top: 0px;
		font-family: 'Nunito', sans-serif;
		margin-left: 0px;
	}
	.Content-Second-Para{
	visibility: hidden;
	font-size: 24px;
	font-family: 'Nunito', sans-serif;
	color: white;
	}
	.Content-Second-Block-Link{
		text-decoration: none;
		float: left;
	}
	.Content-Second-Block{
		width: 128.6px;
		height: 45px;
		margin-left: 376px;
		background-color: #88120A;
		margin-top: 288px;
		padding-left: 8px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 16px;
	}
	.Content-Third-Para{
		font-size: 20px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		float: left;
		color: white;
		margin-top: 11px;
		margin-left: 17px;
	}
	.Content-Second-Arrow{
		width: 14px;
		height: 15px;
		float: left;
		margin-left: 5px;
		margin-top: 17px;
	}
	select{
		-webkit-appearance: none;
		appearance: none;
	}
	.What-I-Eat-Block{
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/banners/background-images/home-page/what-should-i-eat-it/background-image-what-should-i-eat@3x_cropped.png);
	width: 738px;
	height: 74.8px;
	padding: 36px 25px;
	border-bottom: 1px solid #d4cbc7;
	background-repeat: repeat;
	margin-top: 400px;
	}
	.What-I-Eat-Para{
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		margin: 8px 0px;
	}
	.What-I-Eat-Select-Block{
		float: left;
		padding: 5px 1px;
		width: 633.6px;
		height: 22.4px;
		margin-left: 0px;
		border-bottom: 1px solid #451400;
		border-top: transparent;
		border-right: transparent;
		border-left: transparent;
		border-top: transparent;
	}
	.What-I-Eat-Select{
		border-style: none;
		background: url(https://chipotle.com/etc.clientlibs/chipotle/clientlibs/chipotle-core/resources/images/closed.png);
		background-size: 20px 20px;
		background-position-x: 96%;
		background-position-y: 50%;
		float: left;
		width: 633.6px;
		background-repeat: no-repeat;

	}
	.What-I-Eat-Option{
		color: #b68207;
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
	}
	.What-I-Eat-Ques{
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		float: left;
		margin-top: 0px;
		margin-left: 5px;
	}
	.Card-Block{
	border: 0.5px solid #212529;
	margin: 21px 0px 21px 55px;
	width: 298px;
	float: left;
	}
	.First-Card-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/CHP-Secondary-Hero-Tout-Desktop@2x_sized.jpg);
		width: 298px;
		height: 155px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
	}
	.Card-Para-Block{
		padding: 20px 20px;
		width: 258px;
		height: 187.8px;
	}
	.Card-Title{
		font-size: 28px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		margin: 0px 0px 16px 0px;
	}
	.Card-Des{
		width: 273.2px;
		height: 76.8px;
		color: #451400;
		font-family: 'Nunito', sans-serif;
		font-size: 13px;
	}
	.Card-Link{
		text-decoration: none;
	}
	.Card-Button{
		text-decoration: none;
		width: 226px;
		height: 20px;
		background-color: #451400;
		border-style: none;
		padding: 8px 16px;
	}
	.Card-Order{
		font-size: 16px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: white;
		text-align: center;
		margin: 0px;
	}
	.Second-Card-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/Home-Page-Secondary-Tout-Mobile@2x.jpg);
		width: 298px;
		height: 155px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
	}
	.First-Card-Block-Desktop{
		visibility: hidden;
	}
	.Second-Card-Block-Desktop{
		visibility: hidden;
	}
	.GUA-Img{
	width: 599.763px;
	height: 424px;
	margin-left: 85px;
	margin-top: 10px;
	}
	.GUA-Para{
		color: #451400;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 63.0769px;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.GUA-Img-Let{
		width: 202px;
		height: 64px;
		padding-left: 285px;
		margin-top: 0px;
	}
	.GUA-Des{
		font-family: 'Nunito', sans-serif;
		font-size: 16px;
		text-align: center;
		color: #451400;
		margin: 25px 30px 10px 35px;
		width: 708px;
	}
	.GUA-Button{
		border: 3px solid #451400;
		background-color: white;
		padding: 11.2px 30px;
		width: 620px;
		height: 20px;
		margin: 40px 45px;
	}
	.GUA-Button-Text{
		font-size: 18px;
		color: #451400;
		margin: 0px 0px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		text-align: center;
	}
	.CARDTEXT{
		height: 425px;
	}
	.CARDTEXT-Block{
	border: 0.5px solid #212529;
	margin: 21px 30px;
	}
	.CARDTEXT-First-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/life-styles/group-10@2x.png);
		width: 298px;
		height: 188px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		opacity: 0.7;
	}
	.CARDTEXT-Title{
		font-size: 36px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: white;
		margin: 0px 0px 16px 0px;
		text-align: center;
		padding-top: 65px;
	}
	.CARDTEXT-Para-Block{
		padding: 20px 20px;
		width: 258px;
		height: 156px;
	}
	.CARDTEXT-Button{
		text-decoration: none;
		width: 226px;
		height: 20px;
		background-color: #451400;
		border-style: none;
		padding: 8px 16px;
		margin-top: 0px;
	}
	.Card-Des{
		width: 258px;
		height: 90px;
		color: #451400;
		font-family: 'Nunito', sans-serif;
		font-size: 13px;
	}
	.CARDTEXT-Second-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/life-styles/group-12@2x.png);
		width: 298px;
		height: 188px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		opacity: 0.7;
	}
	.CARDTEXT-Block{
	border: 0.5px solid #212529;
	margin: 21px 0px 21px 56px;
	width: 298px;
	float: left;
	}
	select{
		-webkit-appearance: none;
		appearance: none;
	}
	.What-I-Eat-Block{
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/banners/background-images/home-page/what-should-i-eat-it/background-image-what-should-i-eat@3x_cropped.png);
	width: 738px;
	height: 74.8px;
	padding: 36px 25px;
	border-bottom: 1px solid #d4cbc7;
	background-repeat: repeat;
	margin-top: 400px;
	}
	.What-I-Eat-Para{
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		margin: 8px 0px;
	}
	.What-I-Eat-Select-Block{
		float: left;
		padding: 5px 1px;
		width: 633.6px;
		height: 22.4px;
		margin-left: 0px;
		border-bottom: 1px solid #451400;
		border-top: transparent;
		border-right: transparent;
		border-left: transparent;
		border-top: transparent;
	}
	.What-I-Eat-Select{
		border-style: none;
		background: url(https://chipotle.com/etc.clientlibs/chipotle/clientlibs/chipotle-core/resources/images/closed.png);
		background-size: 20px 20px;
		background-position-x: 96%;
		background-position-y: 50%;
		float: left;
		width: 633.6px;
		background-repeat: no-repeat;

	}
	.What-I-Eat-Option{
		color: #b68207;
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
	}
	.What-I-Eat-Ques{
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		float: left;
		margin-top: 0px;
		margin-left: 5px;
	}
	.FOOT-Block{
	background-color: #1b0800;
	width: 100%;
	height: 740.8px;
	padding: 1px 0px;
	margin-top: 0px;
	}
	.FOOT-Three-Link{
		height: 160px
	}
	.FOOT-Title{
		text-decoration: none;
		font-size: 30px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: white;
		padding: 20px 38px;
	}
	.FOOT-Title-Block{
		margin-top: 15px;
	}
	.FOOT-Media-Block{
		padding-left: 38px;
		height: 111.6px;
	}
	.FOOT-Media-Title{
		color: #d4cbc7;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 18px;
		margin: 5px 0px 0px 0px;
		padding: 20px 0px;
	}
	.Foot-Media-Link{
		text-decoration: none;
		float: left;
		margin-left: 20px;
	}
	.Foot-Media-Icon{
		width: 40px;
		height: 40px;
	}
	.FOOT-Down-Block{
		padding-left: 38px;
		height: 114px;
	}
	.FOOT-Down-Title{
		color: #d4cbc7;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 18px;
		margin: 10px 0px 15px 0px;
		padding: 10px 0px;
	}
	.FOOT-Down-Link{
		text-decoration: none;
		padding: 20px 10px 20px 16px;
	}
	.FOOT-Download{
		width: 140px;
		height: 42px;
		margin-left: 10px;
	}
	.FOOT-About-Desktop-Block{
		visibility: visible;
		padding-left: 38px;
		height: 175px;
	}
	.FOOT-About-Block{
		visibility: hidden;
		width: 0px;
		height: 0px;
	}
	.FOOT-About-Title{
		color: #d4cbc7;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 18px;
		margin: 10px 0px 10px 0px;
		padding: 10px 0px;
	}
	.FOOT-About-Link{
		text-decoration: none;
		color: white;
		font-family: 'Nunito', sans-serif;
		font-size: 13px;
	}
	.FOOT-About-Link-Block{
		margin-top: 0px;
		width: 345px;
		height: 29.6px;
	}
	.FOOT-About-Desktop-FirstRow{
		visibility: visible;
		float: left;
		margin-top: 10px;
	}
	.FOOT-About-FirstRow{
		display: none;
	}
	.FOOT-About-Desktop-SecondRow{
		visibility: visible;
		float: left;
		margin-left: 350px;
		margin-top: 10px;
	}
	.FOOT-About-SecondRow{
		display: none;
	}
	.FOOT-Supply-Block{
		height: 17.6px;
		padding: 8px 0px;
		margin-left: 38px;
	}
	.FOOT-Supply-Link{
		text-decoration: none;
		color: white;
		font-size: 11.2px;
		font-family: 'Nunito', sans-serif;
	}
	.FOOTER-Link-Block1{
		width: 345px;
		height: 17.6px;
		padding: 8px 0px;
		float: left;
		margin-left: 38px;
	}
	.FOOTER-Link-Block2{
		width: 345px;
		height: 17.6px;
		padding: 8px 0px;
		float: left;
		margin-left: 38px;
	}
	.FOOTER-Link-Block3{
		width: 345px;
		height: 17.6px;
		padding: 8px 0px;
		float: left;
		margin-left: 38px;
	}
	.FOOTER-Link-Block4{
		width: 345px;
		height: 17.6px;
		padding: 8px 0px;
		float: left;
		margin-left: 38px;
	}
}

@media only screen and (min-width: 1024px)
{
	.Get-h3{
	color: white;
	font-size: 30px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin-top: 0px;
	padding-top: 25px;
	padding-left: 350px;
	float: left;
	}
	.Nav-Bar{
	height: 100px;
	border-bottom: 0.85px solid #d4cbc7;
	margin: 0px 0px;
	padding: 0px 0px;
	}
	.Nav-Bar-HamIcon{
		display: none;
	}
	.Nav-Bar-Logo{
		width: 80px;
		height: 80px;
		margin-left: 20px;
	}
	.Nav-List-Block{
		visibility: visible;
		float: left;
		margin-left: 0px;
		width: 680px;
		margin-top: 10px;
	}
	.Nav-List{
		list-style-type: none;
	}
	.Nav-List-Item{
		float: left;
	}
	.Nav-List-Link-First{
		text-decoration: none;
		font-size: 24px;
		color: #451400;	
	}
	.Nav-List-Link{
		text-decoration: none;
		font-size: 24px;
		color: #451400;
		margin-left: 40px;
	}
	.Nav-Find-Button{
		width: 200px;
		height: 40px;
		float: left;
		margin-top: 18px;
		margin-left: 8px;
		background-color: #451400;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
	.Nav-Find-Pepper{
		width: 26px;
		height: 26px;
		float: left;
		margin-top: 5px;
		margin-left: 5px;
	}
	.Nav-Find-Line{
		width: 9px;
		height: 22px;
		margin-top: 9px;
		margin-left: 0px;
		float: left;
	}
	.Nav-Find-Para{
		font-size: 17px;
		font-family: 'Nunito', sans-serif;
		color: white;
		float: left;
		margin-left: 5px;
		margin-top: 9px;
	}
	.Content-BG{
	width: 100%;
	height: 640px;
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/Home-Page-Hero-Desktop-White%20Rewardsv2@2x.jpg);
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
	position: absolute;

	}
	.Content-First-Box{
		padding: 8px 32px;
		width: 331.513px;
		height: 42px;
		background-color: #ad2118;
		margin-top: 500px;
		margin-left: 200px;
		float: left;
	}
	.Content-First-Para{
		display: none;
		font-size: 16px;
		color: white;
		margin-top: 0px;
		font-family: 'Nunito', sans-serif;
		margin-left: 15px;
	}
	.Content-Second-Para{
	visibility: visible;
	font-size: 24px;
	font-family: 'Nunito', sans-serif;
	color: white;
	margin-top: 5px;
	}
	.Content-Second-Block-Link{
		text-decoration: none;
		float: left;
	}
	.Content-Second-Block{
		width: 144.050px;
		height: 42px;
		margin-left: 594px;
		background-color: #88120A;
		margin-top: 500px;
		padding-left: 48px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 40px;
	}
	.Content-Third-Para{
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		float: left;
		color: white;
		margin-top: 9px;
		margin-left: 0px;
	}
	.Content-Second-Arrow{
		width: 14px;
		height: 15px;
		float: left;
		margin-left: 10px;
		margin-top: 17px;
	}
	select{
		-webkit-appearance: none;
		appearance: none;
	}
	.What-I-Eat-Block{
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/banners/background-images/home-page/what-should-i-eat-it/background-image-what-should-i-eat@3x_cropped.png);
	width: 994px;
	height: 109.6px;
	padding: 80px 15px 83px 15px;
	border-bottom: 1px solid #d4cbc7;
	background-repeat: repeat;
	margin-top: 640px;

	}
	.What-I-Eat-Para{
		font-size: 48px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		margin: 0px 15px;
		text-align: center;
	}
	.What-I-Eat-Select-Block{
		float: left;
		padding: 10px 0px 5px 0px;
		width: 419px;
		height: 44.8px;
		margin-left: 280px;
		border-bottom: 4px solid #451400;
		border-top: transparent;
		border-right: transparent;
		border-left: transparent;
		border-top: transparent;
	}
	.What-I-Eat-Select{
		border-style: none;
		background: url(https://chipotle.com/etc.clientlibs/chipotle/clientlibs/chipotle-core/resources/images/closed.png);
		background-size: 20px 20px;
		background-position-x: 96%;
		background-position-y: 50%;
		float: left;
		width: 419px;
		font-size: 48px;
		background-repeat: no-repeat;

	}
	.What-I-Eat-Option{
		color: #b68207;
		font-size: 48px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
	}
	.What-I-Eat-Ques{
		font-size: 48px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		float: left;
		margin-top: 0px;
		margin-left: 0px;
		font-weight: bold;
	}
	.Card-Block{
		display: none;
	}
	.First-Card-Block-Desktop{
		visibility: visible;
		border: 0.5px solid #212529;
		width: 448px;
		height: 415.4px;
		float: left;
		margin: 70px 0px 10px 43px;
	}
	.Second-Card-Block-Desktop{
		visibility: visible;
		border: 0.5px solid #212529;
		width: 448px;
		height: 415.4px;
		float: left;
		margin: 70px 0px 10px 43px;
	}
	.First-Card-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/CHP-Secondary-Hero-Tout-Desktop@2x_sized.jpg);
		width: 224px;
		height: 415.4px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		float: left;
	}
	.Card-Para-Block{
		padding: 20px 20px;
		width: 184px;
		height: 375.4px;
		float: left;
	}
	.Card-Title{
		font-size: 40px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		margin: 0px 0px 16px 0px;
	}
	.Card-Des-Vertical{
		width: 180px;
		height: 173.6px;
		color: #451400;
		font-family: 'Nunito', sans-serif;
		font-size: 16px;
	}
	.Card-Link{
		text-decoration: none;
	}
	.Card-Button{
		text-decoration: none;
		width: 152px;
		height: 20px;
		background-color: #451400;
		border-style: none;
		padding: 8px 16px;
		margin-top: 37.6px;
	}
	.Card-Order{
		font-size: 16px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: white;
		text-align: center;
		margin: 0px;
	}
	.Second-Card-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/Home-Page-Secondary-Tout-Desktop@2x.jpg);
		width: 224px;
		height: 415.4px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		float: left;
	}
	.GUA-Img{
	width: 599.763px;
	height: 424px;
	margin-left: 205px;
	margin-top: 100px;
	}
	.GUA-Para{
		color: #451400;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 90px;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.GUA-Img-Let{
		width: 202px;
		height: 64px;
		padding-left: 395px;
		margin-top: 0px;
	}
	.GUA-Des{
		font-family: 'Nunito', sans-serif;
		font-size: 16px;
		text-align: center;
		color: #451400;
		margin: 25px 30px 10px 35px;
		width: 959px;
	}
	.GUA-Button{
		border: 3px solid #451400;
		background-color: white;
		padding: 12px;
		width: 260px;
		height: 20px;
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 370px;
		margin-right: 0px;
	}
	.GUA-Button-Text{
		font-size: 18px;
		color: #451400;
		margin: 0px 0px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		text-align: center;
	}
	.CARDTEXT-First-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/life-styles/group-10@2x.png);
		width: 448px;
		height: 188px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		opacity: 0.7;
	}
	.CARDTEXT-Title{
		font-size: 36px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: white;
		margin: 0px 0px 16px 0px;
		text-align: center;
		padding-top: 65px;
	}
	.CARDTEXT-Para-Block{
		padding: 20px 20px;
		width: 408px;
		height: 189px;
	}
	.CARDTEXT-Button{
		text-decoration: none;
		width: 338px;
		height: 20px;
		background-color: #451400;
		border-style: none;
		padding: 8px 16px;
		margin: 18.6px 19px 0px 19px;
	}
	.Card-Des{
		width: 404px;
		height: 118.4px;
		color: #451400;
		font-family: 'Nunito', sans-serif;
		font-size: 16px;
	}
	.CARDTEXT-Second-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/life-styles/group-12@2x.png);
		width: 448px;
		height: 188px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		opacity: 0.7;
	}
	.CARDTEXT{
		height: 540px;
	}
	.CARDTEXT-Block{
	border: 0.5px solid #212529;
	margin: 61px 0px 21px 40px;
	width: 448px;
	float: left;
	}
	.FIND-Block{
	width: 100%;
	height: 60px;
	padding: 15px 0px;
	background-color: #786259;
	margin-top: 0px;
	}
	.FIND-Image{
	visibility: visible;
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 40px;
	}
	.FIND-Text{
		font-family: 'Nunito', sans-serif;
		font-size: 18px;
		color: white;
		width: 187.137px;
		height: 21.6px;
		margin-top: 20px;
		margin-left: 25px;
		padding: 0px 32px 0px 22px;
		float: left;	
	}
	.FIND-Input-Block{
		float: left;
	}
	.FIND-Input{
		width: 290px;
		height: 21px;
		padding: 1px 30px 5px 0px;
		border: none;
		border-bottom: 1px solid white;
		color: white;
		background-color: #786259;
		margin-left: 15px;
		float: left;
		color: white;
		margin-top: 10px;
	}
	.FIND-SearchButton{
		margin-top: 8px;
		padding: 0px 0px 9px 0px;
	}
	::placeholder{
		font-size: 18px;
	}
	.FOOT-Block{
	background-color: #1b0800;
	width: 100%;
	height: 355.2px;
	padding: 1px 0px;
	margin-top: 0px;
	}
	.FOOT-Block1{
		height: 300px;
	}
	.FOOT-Three-Link{
		height: 80px
	}
	.FOOT-Title{
		text-decoration: none;
		font-size: 30px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: white;
		padding: 20px 38px;
	}
	.FOOT-Title-Block{
		margin-top: 25px;
		float: left;
	}
	.FOOT-Media-Block{
		padding-left: 368px;
		height: 111.6px;
		float: left;
	}
	.FOOT-Media-Title{
		color: #d4cbc7;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 18px;
		margin: 5px 0px 0px 0px;
		padding: 20px 0px;
	}
	.Foot-Media-Link{
		text-decoration: none;
		float: left;
		margin-left: 20px;
	}
	.Foot-Media-Icon{
		width: 40px;
		height: 40px;
	}
	.FOOT-Down-Block{
		padding-left: 38px;
		height: 114px;
		float: left;
	}
	.FOOT-Down-Title{
		color: #d4cbc7;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 18px;
		margin: 10px 0px 15px 35px;
		padding: 10px 0px;
	}
	.FOOT-Down-Link{
		text-decoration: none;
		padding: 20px 10px 20px 26px;
	}
	.FOOT-Download{
		width: 140px;
		height: 42px;
		margin-left: 10px;
	}
	.FOOT-About-Desktop-Block{
		visibility: visible;
		padding-left: 38px;
		height: 175px;
		float: left;
	}
	.FOOT-About-Block{
		visibility: hidden;
		width: 0px;
		height: 0px;
	}
	.FOOT-About-Title{
		color: #d4cbc7;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 18px;
		margin: 10px 0px 10px 0px;
		padding: 10px 0px;
	}
	.FOOT-About-Link{
		text-decoration: none;
		color: white;
		font-family: 'Nunito', sans-serif;
		font-size: 13px;
	}
	.FOOT-About-Link-Block{
		margin-top: 0px;
		width: 345px;
		height: 29.6px;
	}
	.FOOT-About-Desktop-FirstRow{
		visibility: visible;
		float: left;
		margin-top: 10px;
	}
	.FOOT-About-FirstRow{
		display: none;
	}
	.FOOT-About-Desktop-SecondRow{
		visibility: visible;
		float: left;
		margin-left: 150px;
		margin-top: 10px;
	}
	.FOOT-About-SecondRow{
		display: none;
	}
	.FOOT-Supply-Block{
		height: 17.6px;
		padding: 8px 0px;
		margin-left: 38px;
		margin-top: 0px;
		float: left;
	}
	.FOOT-Supply-Link{
		text-decoration: none;
		color: white;
		font-size: 11.2px;
		font-family: 'Nunito', sans-serif;
	}
	.FOOTER-Link-Block1{
		width: 67.513px;
		height: 17.6px;
		padding: 8px 8px;
		float: left;
		margin-left: 260px;
	}
	.FOOTER-Link-Block2{
		width: 121.05px;
		height: 17.6px;
		padding: 8px 8px;
		float: left;
		margin-left: 0px;
	}
	.FOOTER-Link-Block3{
		width: 71.35px;
		height: 17.6px;
		padding: 8px 8px;
		float: left;
		margin-left: 0px;
	}
	.FOOTER-Link-Block4{
		width: 154.45px;
		height: 17.6px;
		padding: 8px 0px;
		float: left;
		margin-left: 0px;
	}
	.FOOT-LINK{
		float: left;
	}
	.FOOT-LINK-LEFT{
		float: left;
	}

}

@media only screen and (min-width: 1295px)
{
	.Get-h3{
	color: white;
	font-size: 30px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin-top: 0px;
	padding-top: 25px;
	padding-left: 570px;
	float: left;
	}
	.Get-button{
	width: 31px;
	height: 33px;
	border-style: none;
	border-radius: 50%;
	background-color: #632d17;
	border-color: #632d17;
	margin-left: 15px;
	margin-top: 25px;
	float: left;
	}
	.Nav-Bar{
	height: 100px;
	border-bottom: 0.85px solid #d4cbc7;
	margin: 0px 0px;
	padding: 0px 0px;
	}
	.Nav-Bar-HamIcon{
		display: none;
	}
	.Nav-Bar-Logo{
		width: 80px;
		height: 80px;
		margin-left: 20px;
		margin-top: 0px;
	}
	.Drop-Down{
	width: 15px;
	height: 15px;
	margin-top: 6px;
	}
	.Nav-List-Block{
		visibility: visible;
		float: left;
		margin-left: 240px;
		width: 680px;
		margin-top: 10px;
	}
	.Nav-List{
		list-style-type: none;
	}
	.Nav-List-Item{
		float: left;
	}
	.Nav-List-Link-First{
		text-decoration: none;
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;	
	}
	.Nav-List-Link{
		text-decoration: none;
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		margin-left: 40px;
	}
	.Nav-Find-Button{
		width: 200px;
		height: 40px;
		float: left;
		margin-top: 18px;
		margin-left: 275px;
		background-color: #451400;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
	.Nav-Find-Pepper{
		width: 26px;
		height: 26px;
		float: left;
		margin-top: 5px;
		margin-left: 5px;
	}
	.Nav-Find-Line{
		width: 9px;
		height: 24px;
		margin-top: 9px;
		margin-left: 0px;
		float: left;
	}
	.Nav-Find-Para{
		font-size: 17px;
		font-family: 'Nunito', sans-serif;
		color: white;
		float: left;
		margin-left: 3px;
		margin-top: 10px;
	}
	.Content-BG{
	width: 100%;
	height: 679px;
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/Home-Page-Hero-Desktop-White%20Rewardsv2@2x.jpg);
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
	position: absolute;

	}
	.Content-First-Box{
		padding: 8px 32px;
		width: 331.513px;
		height: 42px;
		background-color: #ad2118;
		margin-top: 512px;
		margin-left: 448px;
		float: left;
	}
	.Content-First-Para{
		display: none;
		font-size: 16px;
		color: white;
		margin-top: 0px;
		font-family: 'Nunito', sans-serif;
		margin-left: 15px;
	}
	.Content-Second-Para{
	visibility: visible;
	font-size: 24px;
	font-family: 'Nunito', sans-serif;
	color: white;
	margin-top: 5px;
	}
	.Content-Second-Block-Link{
		text-decoration: none;
		float: left;
	}
	.Content-Second-Block{
		width: 144.050px;
		height: 42px;
		margin-left: 843px;
		background-color: #88120A;
		margin-top: 512px;
		padding-left: 48px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 40px;
	}
	.Content-Third-Para{
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		float: left;
		color: white;
		margin-top: 9px;
		margin-left: 0px;
	}
	.Content-Second-Arrow{
		width: 14px;
		height: 15px;
		float: left;
		margin-left: 10px;
		margin-top: 17px;
	}
	.What-I-Eat-Block{
	background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/banners/background-images/home-page/what-should-i-eat-it/background-image-what-should-i-eat@3x_cropped.png);
	width: 1489px;
	height: 58.6px;
	padding: 80px 15px 83px 15px;
	border-bottom: 1px solid #d4cbc7;
	background-repeat: repeat;
	margin-top: 680px;
	}
	.What-I-Eat-Para{
		font-size: 48px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		float: left;
		margin-left: 200px;
		margin-top: 8px;
	}
	.What-I-Eat-Select-Block{
		float: left;
		padding: 8px 1px;
		width: 513.5px;
		height: 44.8px;
		margin-left: 15px;
		margin-top: 0px;
		border-bottom: 3px solid #451400;
		border-top: transparent;
		border-right: transparent;
		border-left: transparent;
		border-top: transparent;
	}
	.What-I-Eat-Select{
		border-style: none;
		background: url(https://chipotle.com/etc.clientlibs/chipotle/clientlibs/chipotle-core/resources/images/closed.png);
		background-size: 20px 20px;
		background-position-x: 96%;
		background-position-y: 50%;
		float: left;
		width: 513.5px;
		background-repeat: no-repeat;
	}
	.What-I-Eat-Option{
		color: #b68207;
		font-size: 24px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
	}
	.What-I-Eat-Ques{
		font-size: 48px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		float: left;
		margin-top: 8px;
		margin-left: 5px;
	}
	.What-I-Eat-Ques-Block{
	float: left;
	margin-top: 500px;
	}
		.Card-Block{
		display: none;
	}
	.First-Card-Block-Desktop{
		visibility: visible;
		border: 0.5px solid #212529;
		width: 553px;
		height: 386px;
		float: left;
		margin: 70px 0px 10px 189px;
	}
	.Second-Card-Block-Desktop{
		visibility: visible;
		border: 0.5px solid #212529;
		width: 553px;
		height: 386px;
		float: left;
		margin: 70px 0px 10px 30px;
	}
	.First-Card-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/CHP-Secondary-Hero-Tout-Desktop@2x_sized.jpg);
		width: 276.5px;
		height: 386px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		float: left;
	}
	.Card-Para-Block{
		padding: 20px 20px;
		width: 236.5px;
		height: 346px;
		float: left;
	}
	.Card-Title{
		font-size: 40px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: #451400;
		margin: 0px 0px 16px 0px;
	}
	.Card-Des-Vertical{
		width: 232.5px;
		height: 124px;
		color: #451400;
		font-family: 'Nunito', sans-serif;
		font-size: 16px;
	}
	.Card-Link{
		text-decoration: none;
	}
	.Card-Button{
		text-decoration: none;
		width: 204.5px;
		height: 20px;
		background-color: #451400;
		border-style: none;
		padding: 8px 16px;
		margin-top: 37.6px;
	}
	.Card-Order{
		font-size: 16px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: white;
		text-align: center;
		margin: 0px;
	}
	.Second-Card-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/rewards/rewards-aw/Home-Page-Secondary-Tout-Desktop@2x.jpg);
		width: 276.5px;
		height: 386px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		float: left;
	}
	.GUA-Img{
	width: 599.763px;
	height: 424px;
	margin-left: 455px;
	margin-top: 100px;
	}
	.GUA-Para{
		color: #451400;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 90px;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.GUA-Img-Let{
		width: 202px;
		height: 64px;
		padding-left: 675px;
		margin-top: 0px;
	}
	.GUA-Des{
		font-family: 'Nunito', sans-serif;
		font-size: 16px;
		text-align: center;
		color: #451400;
		margin: 25px 189px 10px 189px;
		width: 1140px;
	}
	.GUA-Button{
		border: 3px solid #451400;
		background-color: white;
		padding: 12px;
		width: 260px;
		height: 20px;
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 615px;
		margin-right: 0px;
	}
	.GUA-Button-Text{
		font-size: 18px;
		color: #451400;
		margin: 0px 0px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		text-align: center;
	}
	.CARDTEXT-First-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/life-styles/group-10@2x.png);
		width: 553px;
		height: 188px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		opacity: 0.7;
	}
	.CARDTEXT-Title{
		font-size: 36px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: white;
		margin: 0px 0px 16px 0px;
		text-align: center;
		padding-top: 65px;
	}
	.CARDTEXT-Para-Block{
		padding: 20px 20px;
		width: 513px;
		height: 189px;
	}
	.CARDTEXT-Button{
		text-decoration: none;
		width: 338px;
		height: 20px;
		background-color: #451400;
		border-style: none;
		padding: 8px 16px;
		margin: 48.2px 71.5px 0px 71.5px;
	}
	.Card-Des{
		width: 509px;
		height: 88.8px;
		color: #451400;
		font-family: 'Nunito', sans-serif;
		font-size: 18px;
	}
	.CARDTEXT-Second-Image{
		background-image: url(https://chipotle.com/content/dam/chipotle/global-site-design/en/life-styles/group-12@2x.png);
		width: 553px;
		height: 188px;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		opacity: 0.7;
	}
	.CARDTEXT-Block{
	border: 0.5px solid #212529;
	margin: 61px 0px 21px 40px;
	width: 553px;
	float: left;
	}
	.CARDTEXT{
		margin-left: 150px;
	}
	.FIND-Block{
	width: 100%;
	height: 60px;
	padding: 15px 0px;
	background-color: #786259;
	margin-top: 0px;
	}
	.FIND-Image{
	visibility: visible;
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 290px;
	}
	.FIND-Text{
		font-family: 'Nunito', sans-serif;
		font-size: 18px;
		color: white;
		width: 187.137px;
		height: 21.6px;
		margin-top: 17px;
		margin-left: 25px;
		padding: 0px 32px 0px 22px;
		float: left;	
	}
	.FIND-Input-Block{
		float: left;
	}
	.FIND-Input{
		width: 270px;
		height: 21px;
		padding: 1px 30px 5px 0px;
		border: none;
		border-bottom: 1px solid white;
		color: white;
		background-color: #786259;
		margin-left: 15px;
		float: left;
		color: white;
		margin-top: 10px;
	}
	.FIND-SearchButton{
		margin-top: 8px;
		padding: 0px 0px 9px 0px;
	}
	::placeholder{
		font-size: 18px;
	}
	.FOOT-Block{
	background-color: #1b0800;
	width: 100%;
	height: 355.2px;
	padding: 1px 0px;
	margin-top: 0px;
	}
	.FOOT-Block1{
		height: 300px;
		margin-left: 250px;
	}
	.FOOT-Block2{
		margin-left: 250px;
	}
	.FOOT-Three-Link{
		height: 80px
	}
	.FOOT-Title{
		text-decoration: none;
		font-size: 30px;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		color: white;
		padding: 20px 38px;
	}
	.FOOT-Title-Block{
		margin-top: 25px;
		float: left;
	}
	.FOOT-Media-Block{
		padding-left: 368px;
		height: 111.6px;
		float: left;
	}
	.FOOT-Media-Title{
		color: #d4cbc7;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 18px;
		margin: 5px 0px 0px 0px;
		padding: 20px 0px;
	}
	.Foot-Media-Link{
		text-decoration: none;
		float: left;
		margin-left: 20px;
	}
	.Foot-Media-Icon{
		width: 40px;
		height: 40px;
	}
	.FOOT-Down-Block{
		padding-left: 38px;
		height: 114px;
		float: left;
	}
	.FOOT-Down-Title{
		color: #d4cbc7;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 18px;
		margin: 10px 0px 15px 35px;
		padding: 10px 0px;
	}
	.FOOT-Down-Link{
		text-decoration: none;
		padding: 20px 10px 20px 26px;
	}
	.FOOT-Download{
		width: 140px;
		height: 42px;
		margin-left: 10px;
	}
	.FOOT-About-Desktop-Block{
		visibility: visible;
		padding-left: 38px;
		height: 175px;
		float: left;
	}
	.FOOT-About-Block{
		visibility: hidden;
		width: 0px;
		height: 0px;
	}
	.FOOT-About-Title{
		color: #d4cbc7;
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size: 18px;
		margin: 10px 0px 10px 0px;
		padding: 10px 0px;
	}
	.FOOT-About-Link{
		text-decoration: none;
		color: white;
		font-family: 'Nunito', sans-serif;
		font-size: 13px;
	}
	.FOOT-About-Link-Block{
		margin-top: 0px;
		width: 345px;
		height: 29.6px;
	}
	.FOOT-About-Desktop-FirstRow{
		visibility: visible;
		float: left;
		margin-top: 10px;
	}
	.FOOT-About-FirstRow{
		display: none;
	}
	.FOOT-About-Desktop-SecondRow{
		visibility: visible;
		float: left;
		margin-left: 150px;
		margin-top: 10px;
	}
	.FOOT-About-SecondRow{
		display: none;
	}
	.FOOT-Supply-Block{
		height: 17.6px;
		padding: 8px 0px;
		margin-left: 38px;
		margin-top: 0px;
		float: left;
	}
	.FOOT-Supply-Link{
		text-decoration: none;
		color: white;
		font-size: 11.2px;
		font-family: 'Nunito', sans-serif;
	}
	.FOOTER-Link-Block1{
		width: 67.513px;
		height: 17.6px;
		padding: 8px 8px;
		float: left;
		margin-left: 260px;
	}
	.FOOTER-Link-Block2{
		width: 121.05px;
		height: 17.6px;
		padding: 8px 8px;
		float: left;
		margin-left: 0px;
	}
	.FOOTER-Link-Block3{
		width: 71.35px;
		height: 17.6px;
		padding: 8px 8px;
		float: left;
		margin-left: 0px;
	}
	.FOOTER-Link-Block4{
		width: 154.45px;
		height: 17.6px;
		padding: 8px 0px;
		float: left;
		margin-left: 0px;
	}
	.FOOT-LINK{
		float: left;
	}
	.FOOT-LINK-LEFT{
		float: left;
	}
}