body
{
	font-family: 'Merriweather Sans', sans-serif;
	margin: 0px 0px;
}
.LeftFloat
{
	float: left;
}
.ca{
	float: left;
	margin-left: 0px;
	padding-top: 5px;
}
.Navi{
	height: 63px;
}
.DropDown{
	width: 10px;
	height: 10px;
}
.Image
{
	width: 193px;
	height: 23.938px;
	padding-left: 175px;
	padding-top: 16px;
	padding-right: 0px;
}
.List
{
	float: left;
	padding-left: 50px;
}
.TryBut
{
	background-color: #0052CC;
	color: white;
	border-color: #0052CC;
	margin-left: 211px;
	padding: 8px 20px;
	float: left;
	border-radius: 3px;
	border-style: none;
	margin-top: 3px;
}
.BuyButton
{
	color: #0052CC;
	margin-left: 20px;
	float: left;
	text-decoration: none;
	padding-top: 8px;
}
.SEAR{
	width: 19px;
	height: 19px;
	padding-top: 8px;
	margin-left: 25px;
}
.cc{
	margin-left: 40px;
	text-decoration: none;
	color: grey;
	margin-top: 10px;
}
.cd{
	margin-left: 30px;
	text-decoration: none;
	color: grey;
}
.ce{
	width: 29px;
	height: 29px;
	float: left;
}
.cf{
	float: left;
	margin-top: 7px;
}
.cg{
	width: 11px;
	height: 8px;
	margin-top: 3px;
}
.ch{
	text-decoration: none;
	color: #0052CC;
}
.Background
{
	width: 100%;
	height: 385px;
	background-image: url(https://wac-cdn.atlassian.com/dam/jcr:4ad14d09-926b-431d-92c4-339a548b53b3/Summit2019-WACTakeover-MobileHero.png?cdnVersion=ld);
	background-repeat: no-repeat;
	background-color: #172B4D;
	padding-top: 160px;
	object-fit: cover;
}
.RegButton
{
	background-color: unset;
	border-color: #00C7E5;
	width: 136px;
	height: 35px;
	margin-left: 690px;
	color: white;
	border-radius: 3px;
}
.a{
	float: left;
	padding-top: 10px;
}
.b{
	width: 200px;
	float: left;
}
.c{
	text-decoration: none;
}
.d{
	text-align: center;
	color: white;
	font-size: 44px;
	overflow: auto;
}
.e{
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: 0px;
	overflow: auto;
}
.f{
	width: 500px;
	height: 280px;
	float: left;
	background-color: #F7F7F7;
}
.UpCrit{
	width: 210px;
	margin-left: 285px;
	margin-top: 30px;
}
.g{
	width: 983px;
	height: 230px;
	float: left;
	padding-left: 30px;
	padding-top: 50px;
	background-color: #F7F7F7;
}
.SeeCrit{
	color: #253858;
	font-weight: bold;
	font-size: 24px;

}
.RoadCrit{
	color: #253858;
	font-size: 16px;
}
.TakeButton{
	color: #0052CC;
	border-color: #0052CC;
	background-color: #F7F7F7;
	border-radius: 3px;
	padding: 5px 10px;
}
.ToolCrit
{
	font-weight: bold;
	text-align: center;
	color: #253858;
}
.h{
	text-align: center;
	color: #253858;
	margin-top: 24px;
	font-size: 20px;
}
.BlueLine{
	width: 140px;
	height: 4px;
	background-color: #0052CC;
	margin-top: 50px;
}
.i{
	height: 1100px;
	width: 100%;
	margin-top: 50px;
}
.j{
	width: 391px;
	margin-left: 165px;
	float: left;
}
.k{
	height: 150px;
}
.JIRAimg{
	width: 200px;
	height: 23px;
}
.size{
	font-size: 16px;
}
.SERimg{
	width: 212px;
	height: 23px;
}
.l{
	height: 200px;
}
.OPSimg{
	width: 118px;
	height: 27px;
}
.STATUSimg{
	width: 159px;
	height: 23px;
}
.OPSGimg{
	width: 127px;
	height: 23px;
}
.m{
	width: 1300px;
}
.n{
	color: #253858;
	font-size: 24px;
}
.o{
	float: left;
	width: 391px;
}
.BITimg{
	width: 146px;
	height: 21px;
}
.SOURCEimg{
	width: 157px;
	height: 23px;
}
.BAMimg
{
	width: 128px;
	height: 23px;
}
.VARimg{
	width: 800px;
	height: 450px;
}
.p{
	float: left;
	width: 391px;
	margin-right: 160px;
	margin-left: 5px;
	height: 1200px;
}
.CONimg
{
	width: 167px;
	height: 21px;
}
.TRELLOimg
{
	width: 95px;
	height: 21px;
}
.q{
	background-color: #F7F7F7;
	width: 100%;
	height: 280px;
}
.r{
	text-align: center;
	font-size: 36px;
	color: #253858;
}
.ra{
	text-align: center;
	font-size: 36px;
	color: #253858;
}
.s
{
	text-align: center;
	font-size: 16px;
	color: #253858;
}
.GETbutton{
	background-color: #79F2C0;
	border-color: #79F2C0;
	padding: 10px 20px;
	margin-left: 650px;
	border-radius: 5px;
	font-size: 16px;
	border-style: none;
	margin-top: 10px;
}
.t{
	margin-top: 30px;
}
.TEAMimg{
	width: 190px;
	height: 167.637px;
	float: left;
	margin-left: 200px;
}
.u{
	float: left;
	width: 700px;
	margin-left: 50px;
	height: 225px;
}
.v{
	font-size: 24px;
	color: #253858;
}
.GREYbar{
	width: 1200px;
	height: 2px;
	color: #EBEBEB;
	background-color: #EBEBEB;
	margin-left: 150px;
	border-style: none;
}
.w{
	height: 250px;
	margin-top: 100px;
}
.DESKimg{
	width: 1150px;
	height: 123.363px;
	margin-left: 175px;
}
.x{
	height: 480px;
}
.y{
	margin-left: 165px;
	float: left;
	height: 473px;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}
.TELEimg{
	width: 369.66px;
	height: 230px;
}
.z{
	width: 309.66px;
	padding: 30px 30px;
	height: 180px;
}
.TELELimg{
	width: 192px;
	height: 31.038px;
}
.aa{
	text-decoration: none;
	margin-left: 5px;
	color: #0052CC;
}
.ab{
	float: left;
	margin-left: 31px;
	height: 473px;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}
.YOU{
	background-image: url(https://wac-cdn.atlassian.com/dam/jcr:6d9dff44-2ca5-4310-b2f0-a7a88e67fe95/Customers-ANZ.jpg?cdnVersion=ld);
	width: 369.66px;
	height: 230px;
}
.ac{
	width: 309.66px;
	height: 180px;
	padding: 30px 30px; 
}
.ANZimg{
	width: 121px;
	height: 38.1px;
}
.ad{
	float: left;
	margin-left: 31px;
	margin-right: 165px;
	height: 473px;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}
.CANimg{
	width: 369.66px;
	height: 230px;
}
.ae{
	width: 300.66px;
	height: 230px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.CANRimg{
	width: 152.3px;
	height: 59px;
}
.af{
	height: 100px;
	margin-top: 40px;
}
.ag{
	font-size: 16px;
	text-decoration: none;
	margin-left: 640px;
	color: #0052CC;
}
.ah{
	height: 210px;
}
.ai{
	width: 580.5px;
	height: 230px;
	background-color: #F7F7F7;
	margin-left: 165px;
	float: left;
}
.aj{
	float: left;
	padding-left: 70px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-right: 55px;
}
.ENTimg{
	width: 99px;
	height: 105.925px;
}
.ak{
	float: left;
	width: 300px;
	padding-top: 16px;
}
.al
{
	font-size: 20px;
	color: #253858;
	padding-top: 0px;
}
.am{
	color: #253858;
	font-size: 16px;
}
.an{
	margin-right: 165px;
	margin-left: 12px;
	width: 580.5px;
	height: 230px;
	background-color: #F7F7F7;
	float: left;
}
.MARimg{
	width: 85px;
	height: 117.238px;
}
.ao{
	float: left;
	width: 300px;
	padding-top: 16px;
}
.ap{
	color: #253858;
	font-size: 16px;
}
.aq{
	height: 100px;
	margin-top: 100px;
}
.ar{
	font-size: 36px;
	text-align: center;
	color: #253858;
}
.as{
	width: 660px;
	margin-left: 390px;
}
.at{
	font-size: 20px;
	text-align: center;
	color: #253858;
}
.au{
	margin-left: 165px;
	margin-top: 50px;
	height: 400px;
}
.aw{
	width: 341px;
	float: left;
}
.ax{
	float: left;
	padding-top: 20px;
}
.CONTimg{
	width: 40px;
	height: 37.5px;
}
.ay{
	margin-left: 15px;
	float: left;
	text-decoration: none;
	width: 200px;
}
.az{
	color: #0052CC;
	font-size: 16px;
	margin-top: 20px;
}
.ba{
	color: #0052CC;
	font-size: 16px;
	margin-top: 30px;
}
.bb{
	float: left;
	margin-left: 60px;
	width: 401px;
}
.BLOGimg{
	width: 40px;
	height: 35.5px;
}
.bc{
	float: left;
	margin-left: 15px;
	width: 320px;
}
.bd{
	font-size: 16px;
	color: #0052CC;
	margin-top: 20px;
}
.be{
	float: left;
	width: 401px;
	margin-left: 0px;
}
.NEWSimg{
	width: 40px;
	height: 31.5px;
}
.bf{
	width: 100%;
	height: 355px;
	background-color: #F7F7F7;
	padding-top: 20px;
}
.bg{
	float: left;
	margin-left: 165px;
}
.ATLimg{
	width: 125px;
	height: 15.5px;
	padding-top: 10px;
}
.bh{
	float: left;
	width: 150px;
	margin-left: 120px;
}
.bi{
	font-size: 14px;
	color: #42526E;
}
.bj{
	margin-top: 20px;
}
.bk{
	text-decoration: none;
	color: #42526E;
	font-size: 14px;
}
.bl{
	margin-top: 5px;
}
.bm{
	margin-top: 15px;
}
.bn{
	text-decoration: none;
	color: #0052CC;
}
.bo{
	float: left;
	margin-left: 90px;
	width: 150px;
}
.bp{
	float: left;
	margin-left: 85px;
	width: 150px;
	margin-right: 165px;
}
.bq{
	margin-top: 50px;
	height: 2px;
	border-bottom: 1px solid #091E42;
	opacity: 0.8;
}
.SMAli{
	width: 100%;
	height: 0.5px;
	background-color: grey;
	opacity: 20%;
}
.br{
	margin-top: 25px;
	float: left;
	margin-left: 165px;
}
.bs{
	float: left;
	width: 100px;
}
.INTimg{
	width: 20px ;
	height: 20px ;
	float: left;
}
.bt{
	float: left;
	margin-left: 112px;
}
.bu{
	float: left;
	margin-left: 30px;
}
.bv{
	margin-left: 25px;
	float: left;
}
.bw{
	color: #42526E;
	margin-top: 0px;
}
.bx{
	text-decoration: none;
	color: #42526E;
	margin-top: 5px;
}
.by{
	height: 300px;
}
.bz{
	padding-top: 20px;
}
.ci{
	width: 32px;
	height: 32px;
	margin-left: 20px;
}
.cj{
	list-style-type: none;
	float: left;
}
.ck{
	width: 22px;
	height: 22px;
}
.cm{
	margin-left: 240px;
	float: left;
}



<!-- Mobile -->

@media screen and (min-width: 375px){
	.Image
	{
		width: 161px;
		height: 20px;
	}
	.LeftFloat
	{
		display: none;
	}
	.Background
	{
		width: 100%;
		height: 85px;
		background-image: url(https://wac-cdn.atlassian.com/dam/jcr:4ad14d09-926b-431d-92c4-339a548b53b3/Summit2019-WACTakeover-MobileHero.png?cdnVersion=ld);
		background-repeat: no-repeat;
		background-color: #172B4D;
		padding-top: 160px;
		object-fit: cover;
	}
}

<!-- iPad or Tablet-->

@media screen and (min-width: 768px){
	.Image
	{
		width: 161px;
		height: 20px;
	}
	.LeftFloat
	{
		display: none;
	}
	.Background
	{
		width: 100%;
		height: 85px;
		background-image: url(https://wac-cdn.atlassian.com/dam/jcr:4ad14d09-926b-431d-92c4-339a548b53b3/Summit2019-WACTakeover-MobileHero.png?cdnVersion=ld);
		background-repeat: no-repeat;
		background-color: #172B4D;
		padding-top: 160px;
		object-fit: cover;
	}
}
