body
{
	font-family: Merriweather Sans;
}
.LeftFloat
{
	float: left;
}
.Image
{
	width: 193px;
	height: 72px;
	padding-left: 150px;
}
.List
{
	float: left;
	padding-left: 20px;
}
.TryBut
{
	background-color: blue;
	color: white;
	border-color: blue;
	margin-left: 450px;
	padding: 5px 5px;
	float: left;
}
.BuyButton
{
	background-color: white;
	border-color: white;
	margin-left: 600px;
	float: left;
}
.Background
{
	width: 1503px;
	height: 495px;
	background-image: url(https://wac-cdn.atlassian.com/dam/jcr:4ad14d09-926b-431d-92c4-339a548b53b3/Summit2019-WACTakeover-MobileHero.png?cdnVersion=ld);
	background-repeat: no-repeat;
	background-color: #172B4D;
}
.RegButton
{
	background-color: unset;
	border-color: #00C7E5;
	width: 136px;
	height: 35px;
	margin-left: 500px;
	color: white;
	margin-top: 100px;
}
.a{
	float: left;
	width: 600px;
}
.b{
	width: 200px;
	float: left;
}
.c{
	text-decoration: none;
}
.d{
	text-align: center;
	color: white;
}
.e{
	text-align: center; 
	padding-bottom: 20px; 
	color: white;
}
.f{
	width: 500px;
	height: 280px;
	float: left;
	background-color: #F7F7F7;
}
.UpCrit{
	width: 210px;
	margin-left: 285px;
	margin-top: 30px;
}
.g{
	width: 973px;
	height: 230px;
	float: left;
	padding-left: 30px;
	padding-top: 50px;
	background-color: #F7F7F7;
}
.SeeCrit{
	color: #253858;
	font-weight: bold;
	font-size: 24px;

}
.RoadCrit{
	color: #253858;
	font-size: 16px;
}
.TakeButton{
	color: #0052CC;
	border-color: #0052CC;
	background-color: white;
}
.ToolCrit
{
	font-weight: bold;
	text-align: center;
	color: #253858;
}
.h{
	text-align: center;
	color: #253858;
	margin-top: 24px;
	font-size: 20px;
}
.BlueLine{
	width: 140px;
	height: 4px;
	background-color: #0052CC;
	margin-top: 50px;
}
.i{
	height: 1100px;
	width: 1503px;
}
.j{
	width: 391px;
	margin-left: 165px;
	float: left;
}
.k{
	height: 150px;
}
.JIRAimg{
	width: 200px;
	height: 23px;
}
.size{
	font-size: 16px;
}
.SERimg{
	width: 212px;
	height: 23px;
}
.l{
	height: 200px;
}
.OPSimg{
	width: 118px;
	height: 27px;
}
.STATUSimg{
	width: 159px;
	height: 23px;
}
.OPSGimg{
	width: 127px;
	height: 23px;
}
.m{
	width: 1300px;
}
.n{
	color: #253858;
	font-size: 24px;
}
.o{
	float: left;
	width: 391px;
}
.BITimg{
	width: 146px;
	height: 21px;
}
.SOURCEimg{
	width: 157px;
	height: 23px;
}
.BAMimg
{
	width: 128px;
	height: 23px;
}
.VARimg{
	width: 800px;
	height: 450px;
}
.p{
	float: left;
	width: 391px;
	margin-right: 160px;
	margin-left: 5px;
	height: 1200px;
}
.CONimg
{
	width: 167px;
	height: 21px;
}
.TRELLOimg
{
	width: 95px;
	height: 21px;
}
.q{
	background-color: #F7F7F7;
	width: 1503px;
	height: 280px;
}
.r{
	text-align: center;
	font-size: 36px;
}
.s
{
	text-align: center;
	font-size: 16px;
}
.GETbutton{
	background-color: #79F2C0;
	border-color: #79F2C0;
	padding: 10px;
	margin-left: 650px;
	border-radius: 5px;
	font-size: 16px;
}
.t{
	margin-top: 30px;
}
.TEAMimg{
	width: 190px;
	height: 167.637px;
	float: left;
	margin-left: 200px;
}
.u{
	float: left;
	width: 700px;
	margin-left: 50px;
	height: 225px;
}
.v{
	font-size: 24px;
}
.GREYbar{
	width: 1200px;
	height: 2px;
	color: #F7F7F7;
	background-color: grey;
	margin-left: 150px;
}
.w{
	height: 250px;
}
.DESKimg{
	width: 1150px;
	height: 123.363px;
	margin-left: 175px;
}
.x{
	height: 480px;
}
.y{
	margin-left: 165px;
	float: left;
	height: 410px;
}
.TELEimg{
	width: 369.66px;
	height: 230px;
}
.z{
	width: 309.66px;
	padding: 30px 30px;
	height: 180px;
}
.TELELimg{
	width: 192px;
	height: 31.038px;
}
.aa{
	text-decoration: none;
	margin-left: 5px;
}
.ab{
	float: left;
	margin-left: 31px;
	height: 410px;
}
.YOU{
	background-image: url(https://wac-cdn.atlassian.com/dam/jcr:6d9dff44-2ca5-4310-b2f0-a7a88e67fe95/Customers-ANZ.jpg?cdnVersion=ld);
	width: 369.66px;
	height: 230px;
}
.ac{
	width: 309.66px;
	height: 180px;
	padding: 30px 30px; 
}
.ANZimg{
	width: 121px;
	height: 38.1px;
}
.ad{
	float: left;
	margin-left: 31px;
	margin-right: 165px;
	height: 460px;
}
.CANimg{
	width: 369.66px;
	height: 230px;
}
.ae{
	width: 300.66px;
	height: 230px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.CANRimg{
	width: 152.3px;
	height: 59px;
}
.af{
	height: 100px;
}
.ag{
	font-size: 16px;
	text-decoration: none;
	margin-left: 640px;
}
.ah{
	height: 220px;
}
.ai{
	width: 440.5px;
	height: 110px;
	background-color: #F7F7F7;
	margin-left: 165px;
	padding: 70px 60px;
	float: left;
}
.aj{
	float: left;
}
.ENTimg{
	width: 99px;
	height: 105.925px;
}
.ak{
	float: left;
	width: 300px;
	margin-left: 30px;
}
.al
{
	font-size: 20px;
	color: #253858;
}
.am{
	color: #253858;
}
.an{
	margin-right: 165px;
	margin-left: 40px;
	width: 440.5px;
	height: 110px;
	background-color: #F7F7F7;
	float: left;
	padding: 70px 60px;
}
.MARimg{
	width: 85px;
	height: 117.238px;
}
.ao{
	margin-left: 20px;
	float: left;
	width: 300px;
}
.ap{
	color: #253858;
	font-size: 16px;
}
.aq{
	height: 100px;
	margin-top: 100px;
}
.ar{
	font-size: 36px;
	text-align: center;
	color: #253858;
}